#logo{
    width: 10%;
    position: absolute;
    top: 50px;
}

header{
    background-color: #3366ff;
    background-image: url("./img/pattern.png");
    background-size: contain;
    position:relative;
    height: 100px;
    
    
}

h1{
    font-size: 50px;
}

#blue{
    color: #0099ff;
}

#thebooleaner{
    color: grey;
    position:relative;
    bottom: 40px;
    font-weight: 500;
    font-size: 20px;
    
    
}

.highlited{
    background-color: yellow;
}

.lorem1{
    font-size: 20px;
    font-weight: 600;
}

thead{
    background: #0099ff ;
    color: white;
}

.padding{
    padding-left: 300px;
}


    


